@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background {
  background-color: #f3fbff;
  padding: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.navbar p {
  font-size: 30px;
}
.navbar p span {
  font-size: 30px;
  color: #4995e3;
}
ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  padding: 10px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
.textarea-background {
  margin: 30px 100px;
}
.textarea {
  width: 99%;
  margin-top: 10px;
  height: 70vh;
  display: flex;
  border: none;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #4995e3;
}
textarea:focus {
  outline: none;
}
.counter {
  display: flex;
  width: 100%;
  /* align-items: center; */
  background-color: white;
  border: 1px solid #4995e3;
  border-radius: 5px;
}
.counter p {
  padding: 0 30px;
  /* font-size: 1rem; */
  font-weight: medium;
}
.counter span {
  color: white;
  padding: 0.01rem 0.7rem;
  background-color: #4995e3;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: medium;
}
.count {
  margin: 0 0 0 0.5rem;
}
